@font-face {
	font-family: 'SegoeUI-Bold';
	src: url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),  url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-Bold.woff') format('woff'), url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-Bold.ttf')  format('truetype'), url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SegoeUI-SemiBold';
	src: url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),  url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-SemiBold.woff') format('woff'), url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-SemiBold.ttf')  format('truetype'), url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SegoeUI-Light';
	src: url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),  url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-Light.woff') format('woff'), url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-Light.ttf')  format('truetype'), url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SegoeUI';
	src: url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI.woff') format('woff'), url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI.ttf')  format('truetype'), url('https://bytebucket.org/nabeelmolham/mf-web-dev-2/raw/cad6433b1c7f7251467711385dd207a6c6e9257c/test-task-22-08-2015/assets/fonts/SegoeUI.svg#SegoeUI') format('svg');
	font-weight: normal;
	font-style: normal;
}


_____________________________________________________________________________

html {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: red;
}

_____________________________________________________________________________

body {
width: 1920px;
margin: 0px;
margin-right: auto;

}
header  {
 
width: 100%;
height: 800px;

}

.menu1 {

background-image: url(../images/header/header.jpg);
background-repeat: no-repeat;
-webkit-background-size: cover; /* pour anciens Chrome et Safari */
background-size: cover;
width: 100%;
height: 800px;

}


h1 {
	display: flex;
	align-items: center;
	width: 50%;
	height: 150px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	font-size: 30px;
    font-family: SegoeUI-Bold; 
	color: #ffffff;

}



#e {

	color: #4bcaff;

}


#ancres {

    display: flex;
    align-items: center;
    justify-content: flex-end;
	height: 150px;
	width: 50%;

}
#ancres li {

    height: 35px;
    width: auto;
    display: inline-flex; 
	justify-content: space-between;
	align-items: center;
    padding: 0px 15px;
    margin-left: 15px;
    border-style: solid;
	border-width: 2px;
	border-color: transparent;
}
#ancres ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0;
}


#ancres a {

	text-decoration: none;
	font-family: 'SegoeUI-Bold';
	font-size: 14px;
	color: #ffffff;


}

#ancres li:hover {

    height: 35px;
    width: auto;
    display: inline-flex; 
	justify-content: space-between;
	align-items: center;
    padding: 0px 15px;
    margin-left: 15px;
    border-style: solid;
	border-width: 2px;
	border-color: #4bcaff;
	color:  #4bcaff;
	
}
#ancres li:hover a
{

color:  #4bcaff;

}
.actif {

	background-color: #D94343; 
    border-style: solid;
	border-width: 3px;
	border-color: #4bcaff;
}

.entete {
	width: 60.94%;
	padding-left: 19.53%;
	padding-right: 19.53%;
    display: flex;
	justify-content: space-between;
	background-color: rgba(57,68,75,0.80);
	height: 150px;
	  
}

.citation p {

    text-align: center;
    font-family: 'SegoeUI-Light';
    font-size: 42px;
    color: #ffffff;
    margin: 10px 0;

}

#text {

	background-color: rgba(57,68,75,0.80);

}

#text2 {

	background-color: rgba(57,68,75,0.80);
	
}

.text {

	padding-top: 182px;
}

.text2{
    margin: 0;
}



#section1 {

    
	height: 405px;
	background-color: #4bcaff;
	padding-left: 19.53%;
	padding-right: 19.53%;
	width: 60.94%;
    color: #fff;

}

#section1 .titre4 {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width:100%;
    height: 92.5px;
    
}

#section1 .titre4 h2 {

    margin: 0;
    font-family: "SegoeUI-Light";
    font-size: 30px;
    letter-spacing: 0.05em;
    font-weight: lighter;
    width:100%;
    text-transform: uppercase;
    
}

#section1 .trait4 {

    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;

}

#image {

    width: 50px;
    height:55px;

}

h3 {

    font-family: 'SegoeUI-SemiBold';
    color: #ffffff;
	width: 100px;
	height: 24px;

}

.apple {

    font-family: 'SegoeUI-SemiBold';
    font-size: 12px;
    color: #ffffff;
	width: 100%;
	height: 100px;

}

.coffe {

    margin-right: 2%;
	height: 250px;

}

.menu_services  {

	display: flex;
	justify-content:space-between;
	width: 100%;
	
}

/* _________________________________________________________ */

#section2 {

    height: 1100px;
    width: 60.94%;
    background-color:#ffffff;
    padding-left: 19.53%;
    padding-right: 19.53%;


}

#section2 .menu2 {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
}

#section2 .menu2 .AB{
    width: 50%;
    height: 180px;
    display: flex;
    flex-direction: column;
    
}


#section2 .menu2 .titre4 {
    
    width:100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    
}


#section2 .menu2 .titre4 h2 {
    margin: 0;
    font-family: "SegoeUI-Light";
    font-size: 30px;
    letter-spacing: 0.05em;
    font-weight: lighter;
    width:100%;
    text-transform: uppercase;
    
}
#section2 .menu2 .trait4 {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
}

#section2 .menu2 .nav
{
    width: 50%;
    height: 180px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#section2 .menu2 .nav ul li{
    
    width: auto;
    height: auto;;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

#section2 .menu2 h2 {

    font-family: segoe UI;
    font-size: 30px;
    color: #515f67 ;
    margin-top: 50px;
    
}


#ALL {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 150px;
    width: 50%;

}

#ALL li  {

    font-family: segeo UI;
    height: auto;
    width: auto;
    display: inline-flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin-left: 15px;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
}

#ALL ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;

}

#ALL a {

    text-decoration: none;
    font-family: 'SegoeUI-Bold';
    font-size: 14px;
    color: #515f67 ;

}

#ALL li:hover {

   height: auto;
    width: auto;
    display: inline-flex; 
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    margin-left: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #4bcaff ;
    color:  #4bcaff ;
    }

    #ALL li:hover a
{

color:  #4bcaff ;

}


.actif {

    background-color: #D94343 ;
    border-style: solid;
    border-width: 3px;
    border-color: #4bcaff ;
}
.menu2 {

    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;
      
}

.photo {

    position: relative;
}

.photo div {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/portfolio/hoverphoto.png);
    opacity: 0;
    transition: opacity .300s linear;
    
}

.photo:hover div {

    opacity: 1;
    transition: opacity .300s linear;
}

.photo1 {

    width: 270px;
    height: 270px;
    background-image: url(../images/portfolio/portfolio1.png);
    
}

.photo2 {

    width: 270px;
    height: 270px;
    background-image: url(../images/portfolio/portfolio2.png);    
}

.photo3 {

    width: 270px;
    height: 270px;
    background-image: url(../images/portfolio/portfolio3.png); 
}

.photo4 {

    width: 270px;
    height: 270px;
    background-image: url(../images/portfolio/portfolio4.png); 

}

.photo5 {

    width: 270px;
    height: 270px;
    background-image: url(../images/portfolio/portfolio5.png);

}

.photo6 {

    width: 270px;
    height: 270px;
    background-image: url(../images/portfolio/portfolio6.png);

}
.photo7 {

    width: 270px;
    height: 270px;
    background-image: url(../images/portfolio/portfolio7.png);

}

.photo8 {

    width: 270px;
    height: 270px;
    background-image: url(../images/portfolio/portfolio8.png);

}

.photo3 {

    width: 270px;
    height: 270px;
    background-image: url(../images/portfolio/portfolio3.png);

}


.photosall {

    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;

}

/* ---------------------------------- SECTION 3 -----------------------------*/

#sec3 {
    width:60.94%;
    height: 475px;
    background-color: #515f67;
    display: flex;
    justify-content: space-between;
    padding-left: 19.53%;
    padding-right: 19.53%;
    color: white;
}

#sec3 .boxgauche {
    width: 50%;
    height: 475px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 130px;
    
    
}

#sec3 .boxdroite {
    width: 50%;
    height: 475px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
   
}
#sec3 .boxgauche .titre4 {
    
    width:100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    
}
#sec3 .boxgauche .titre4 h2 {
    margin: 0;
    font-family: "SegoeUI-Light";
    font-size: 30px;
    letter-spacing: 0.05em;
    font-weight: lighter;
    width:100%;
    text-transform: uppercase;
    
}
#sec3 .boxgauche .trait4 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

#sec3 .boxgauche .marzipan p {
    
    height: auto;
    width: 100%;
    display: flex;
    font-family: 'SegoeUI';
    font-size: 14px;
    line-height: 180%;
    margin: 0 0 20px 0;
}

#sec3 .boxgauche .muffin p {
    
    height: auto;
    width: 100%;
    display: flex;
    font-family: 'SegoeUI';
    font-size: 14px;
    line-height: 180%;
    margin: 0 0 20px 0;
}

#sec3 .boxgauche .visit {
    font-family: 'SegoeUI-Bold';
    font-size: 14px;
    font-style: none;
}

#sec3 .boxgauche .visit a {
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align: middle;
color:#353f46;
text-decoration:none;
border: 2px solid #353f46;
}

#sec3 .boxgauche .visit a:hover {
border: 2px solid #4bcaff;
color:#4bcaff;
}

/* ---------------------------------- SECTION 4 -----------------------------*/

.sec4 {
    width:60.94%;
    height: 305px;
    margin: 0, auto;
    background-color: #4bcaff;
    display: flex;
    flex-direction: column;
    padding-left: 19.53%;
    padding-right: 19.53%;
    color: white;
}

.sec4 .titre4 {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    width:100%;
    height: 92.5px;
    
}

.sec4 .titre4 h2 {
    margin: 0;
    font-family: "SegoeUI-Light";
    font-size: 30px;
    letter-spacing: 0.05em;
    font-weight: lighter;
    width:100%;
    text-transform: uppercase;
    
}

.sec4 .titre4 .fa-twitter {
    font-size: 30px;
}

.sec4 .trait4 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

.sec4 .texte4 {
    display: flex;
    font-family: "SegoeUI-Light";
    justify-content: center;
    font-size: 28px;
    width:100%;
    height: 50%;
    line-height: 180%;
    
}

.sec4 .texte4 p {
    margin: 0;
}
.sec4 .texte4 span{
    font-weight: bold;
    margin-top: 50px;
}



/* ---------------------------------- SECTION 5 -----------------------------*/
.sec5 {
    height: 510px;
    width:60.94%;
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    background-image: url(../images/johndoe/bgphoto.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover;
    padding-left: 19.53%;
    padding-right: 19.53%;
    color: white;
}


.sec5 .titre4 h2 {
    margin: 0;
    font-family: "SegoeUI-Light";
    font-size: 30px;
    letter-spacing: 0.05em;
    font-weight: lighter;
    width:100%;
    text-transform: uppercase;
    height:auto;
    padding-top: 90px;
    
}

.sec5 .trait4 {
    width: 60.94%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

.sec5 .block4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.sec5 .block4 .p5 {
    height:100px;
    width: 48%;
    font-family: "SegoeUI";
    font-size: 14px;
    margin:0;
    
    
}
    
.sec5 .block4 .p5 p {
    margin: 0;
    line-height: 24px;
}
.sec5 .block4 .image4 {
    display:flex;
    height:100px;
    width: 48%;
    justify-content: flex-start;
    margin-bottom: 7px;
    margin-top: 7px;
}

.sec5 .block4 .image4 .fa{
    
    font-size: 30px;
}

.sec5 .block4 .image4 .johndoelogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:64px;
    width: 64px;
    border: 2px solid white;
    margin-right: 15px;
    
}


/* ---------------------------------- SECTION 6 -----------------------------*/

.sec6 {
    width:60.94%;
    height: 360px;
    margin: 0, auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 19.53%;
    padding-right: 19.53%;
    color: #515f67;
}

.sec6 .titre4 {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    width:100%;
    height: 92.5px;
    
}

.sec6 .titre4 h2 {
    margin: 0;
    font-family: "SegoeUI-Light";
    font-size: 30px;
    letter-spacing: 0.05em;
    font-weight: lighter;
    width:100%;
    text-transform: uppercase;
    
}

.sec6 .titre4 .fa {
    font-size: 30px;
}

.sec6 .trait4 {
    width: 60.94%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

.sec6 .texte4 {
    display: flex;
    font-family: "SegoeUI-Light";
    justify-content: center;
    font-size: 28px;
    width:100%;
    height: 50%;
    line-height: 180%;
    
}

#ww {
    font-family: 'SegoeUI-Bold';
    color: #4bcaff;
    font-size: 14px;
}

.sec6 .texte4 p {
    margin: 0;
}

    
    /* ---------------------------------- FORMULAIRE -----------------------------*/
    
.contact {
    height: 814px;
    width:60.94%;
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    background-image: url(../images/contact/bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;
    padding-left: 19.53%;
    padding-right: 19.53%;
    color: white;
    
}


.contact .titre4 h2 {
    margin: 0;
    font-family: "SegoeUI-Light";
    font-size: 30px;
    letter-spacing: 0.05em;
    font-weight: lighter;
    width:100%;
    text-transform: uppercase;
    height:auto;
    padding-top: 90px;
    
}

.contact .trait4 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}


form {
    font-family: 'SegoeUI-Bold';
    font-size: 14px;
}

.blockform {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

label {
    margin-bottom: 5px;
    color: #fff;
}

.input {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 30px;
}

input {
    height: 60px;
    width: 370px;
    border: 2px solid #fff;
    background-color: transparent;
    font-family: "SegoeUI-Light";
    color:white;
    padding: 0 0 0 20px;
    font-size: 1.3em;
    
    
    
}

.pa {
    height: auto;
    width: 50%;
    display: flex;
    font-family: 'SegoeUI-SemiBold';
    font-size: 14px;
    line-height: 180%;
    
    
}

textarea {
    height: 220px;
    width: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 20px;
    font-family: "SegoeUI-Light";
    color:white;
    font-size: 1.3em;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width: 370px;
    border: 3px solid transparent;
    background-color: #4bcaff;
    font-family: 'SegoeUI-Bold';
    font-size: 14px;
    color: white;
}

button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width: 370px;
    border: 3px solid #4bcaff;
    background-color: #353f46;
    font-family: 'SegoeUI-Bold';
    font-size: 14px;
    color: #4bcaff;
    cursor: pointer;
}

.inputext {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* ---------------------------------- FOOTER -----------------------------*/

footer{
	width: 60.94%;
	padding-left: 19.53%;
	padding-right: 19.53%;
    display: flex;
	justify-content: space-between;
	background-image: url(../images/footer/bg.jpg);
	height: 170px;
	  
}

nav {

    display: flex;
    align-items: center;
    justify-content: flex-start;
	height: 170px;
	width: 50%;

}

nav li {

    height: auto;
    width: auto;
    display: inline-flex; 
	justify-content: space-between;
	align-items: center;
    padding: 0 15px;
    margin-left: 0;
    border-left: 2px solid #515f67;
	
}

nav #prems {
    border-left: none;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0;
}


nav a {

	text-decoration: none;
	font-family: segoe UI;
	font-size: 14px;
	color: #515f67;


}

nav li:hover {

    height: auto;
    width: auto;
    display: inline-flex; 
	justify-content: space-between;
	align-items: center;
    padding: 0 15px;
    margin-left: 0;
    border-left: 2px solid #515f67;
	
}
	

nav li:hover a{

color:  #4bcaff;

}

nav a:hover {

	text-decoration: none;
	font-family: segoe UI;
	font-size: 14px;
	color: #4bcaff;

}

footer p {
    width: 50%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    font-family: 'SegoeUI-Bold';
    font-size: 12px;
    color: #515f67;
    
}


